---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../ui/PageTitle.astro";
import { getCollection } from "astro:content";
import JobList from "../jobs/JobList.astro";
import { getCurrentLocale, getLocalizedData } from "../../i18n/utils";

const currentLocale = getCurrentLocale(Astro.currentLocale);
const jobs = (await getCollection("jobs"))
  .filter((post) => post.id.includes(`${currentLocale}/`))
  .sort((a, b) => a.data.jobDate.valueOf() - b.data.jobDate.valueOf());

const jobsLoactionOne = jobs.filter(
  (job) => job.data.workingPlace === "Standort Eins",
);
const jobsLocationTwo = jobs.filter(
  (job) => job.data.workingPlace === "Standort Zwei",
);
const jobsLocationThree = jobs.filter(
  (job) => job.data.workingPlace === "Standort Drei",
);

const { jobs: jobTexts, shared } = getLocalizedData({
  currentLocale: currentLocale,
});
---

<BaseLayout title={jobTexts.title} description={jobTexts.title}>
  <PageTitle title={jobTexts.title} />
  <h2 class="mb-12 text-center">{jobTexts.openPositions}</h2>
  <div class="grid grid-cols-3 gap-12">
    <JobList
      title={shared.locationOne}
      language={currentLocale}
      jobs={jobsLoactionOne}
    />
    <JobList
      title={shared.locationTwo}
      language={currentLocale}
      jobs={jobsLocationTwo}
    />
    <JobList
      title={shared.locationThree}
      language={currentLocale}
      jobs={jobsLocationThree}
    />
  </div>
</BaseLayout>
