---
import { getEntries, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import InternalLink from "../InternalLink.astro";
import { getCurrentLocale, getLocalizedData } from "../../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { dynamicImageImport } from "../../utils/dynamicImageImport";

interface Props {
  article: CollectionEntry<"solutions">;
}

const currentLocale = getCurrentLocale(Astro.currentLocale);
const { solutions } = getLocalizedData({ currentLocale });

const { article } = Astro.props;
const { title, titleImage, ogDescription, ogTitle, relatedArticles } =
  article.data;
const { Content, headings } = await article.render();
const relatedArticlesDetails = await getEntries(relatedArticles ?? []);
const pathname = Astro.url.pathname;

const normalizedPathname = pathname
  .split("/")
  .filter((entry) => entry && entry !== currentLocale)
  .join("/");
---

<BaseLayout
  title={title}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  image={titleImage}
>
  <article class="mx-auto">
    {
      titleImage && (
        <Image
          width={1020}
          height={255}
          src={dynamicImageImport[titleImage]()}
          alt={title}
          class="max-h-80 object-cover"
          loading="eager"
        />
      )
    }
    <h1 class="my-8">{title}</h1>
    <hr class="my-6" />
    <div class="">
      <p class="text-2xl">{solutions.content}:</p>
      <ol class="mb-8">
        {
          headings
            .filter((heading) => heading.depth === 2)
            .map((heading) => (
              <li class="ml-4 list-disc">
                <InternalLink
                  href={`${normalizedPathname}#${heading.slug.replace("/", "")}`}
                >
                  {heading.text}
                </InternalLink>
              </li>
            ))
        }
      </ol>
    </div>
    <hr class="my-6" />
    <div class="prose text-lg prose-blockquote:border-blue-400">
      <Content />
    </div>
    {
      !!relatedArticlesDetails.length && (
        <div class="row-start-6 md:col-span-2 md:row-start-7">
          <h3 class="mb-8 text-center">{solutions.relatedArticles}</h3>
          <ul class="grid grid-cols-3 grid-rows-subgrid gap-8">
            {relatedArticlesDetails?.map((article) => (
              <li class="max-w-sm overflow-hidden rounded shadow-lg hover:shadow-xl">
                <a
                  href={getRelativeLocaleUrl(
                    currentLocale,
                    `loesungen/${article.slug.split("/")[1]}`,
                  )}
                >
                  <Image
                    class="max-h-40 w-full rounded-none object-cover"
                    src={dynamicImageImport[article.data.titleImage]()}
                    alt={article.data.title}
                    width={350}
                    height={200}
                  />
                  <div class="px-6 py-4">
                    <h2 class="mb-2 text-xl font-bold">{article.data.title}</h2>
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </article>
</BaseLayout>
