---
interface Props {
  job: CollectionEntry<"jobs">;
}

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCurrentLocale } from "../i18n/utils";
import JobHead from "../components/JobHead.astro";
import type { CollectionEntry } from "astro:content";

const { job } = Astro.props;
const currentLocale = getCurrentLocale(Astro.currentLocale);
const description = "";
const image = "";
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead
      title={`${job.data.title}, ${job.data.workingPlace}`}
      description={description}
      image={image}
    />
    <JobHead job={job} />
  </head>
  <body class="text-gray-0 flex min-h-screen flex-col text-lg">
    <Header />
    <main
      class="xs:max-w-screen-xs md:max-screen-md mx-auto my-8 w-full grow sm:max-w-screen-sm md:px-0 lg:max-w-screen-lg"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
